<html>
    <head>
        <title><%=Title %> | Lunar-Weather</title>
    </head>
    <body>
        <h1>Weather in <%=Title %></h1>
        <h1>Temp:<%=S_temp %></h1>
        <h2>Location: <%=S_location %></h2>
    </body>
</html>