html{
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    height: 100%;
    width: 100%;
}

body{
    /*background-color: #9966ff!important;*/
    margin: 0;
    height: 100%;
    width: 100%;
    
}


#top{
    background-color: #36454F;
    /*background-color:blueviolet;*/
   
}

.nav-item{
    padding-left: 30px;
}

.form-main{
    display: block;
    text-align: center;
}

.search-grp{
    
    margin-left: 35%;
    margin-right:50%;
    width:90%;
    padding-top: 30px;
}


#weather-data{
    background-image: url("/images/w-bg.jpg");
    height: 100%;
}
/* Weather Box */

.weather-boxes{
    padding-top:80px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


.w-box-1{
    background-color: rgba(255,255,255,0.5);
    width: 250px;
    height: 400px;
    border-radius: 20px;
    margin-right: 50px;
    margin-top: 50px;
    text-align: center;
    
}

.w-box-1:hover{
    background-color: rgba(255,255,255);
}

.w-box-2{
    background-color: rgba(139,0,139,0.5);
    width: 250px;
    height: 400px;
    border-radius: 20px;
    margin-right: 50px;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
        
}

.w-box-2:hover{
    background-color: rgba(139,0,139);
}


.w-box-3{
    background-color:rgba(223, 255, 128,0.5);
    width: 250px;
    height: 400px;
    border-radius: 20px;
    margin-right: 50px;
    margin-top: 50px;

}

.w-box-3:hover{
    background-color: rgba(223, 255, 128);
}